*__pycache__
SearchSystem/db*
# SearchSystem/invertIndex_zh.json
# SearchSystem/wordList_zh.json
SearchSystem/secret.yaml
SearchSystem/index

Reuters
Reuters_zh

DataFactory
SearchSystem/bad_case.zip
.vscode/settings.json
