*__pycache__
SearchSystem/db*
# SearchSystem/invertIndex_zh.json
# SearchSystem/wordList_zh.json
SearchSystem/secret.yaml
SearchSystem/temp.py

Reuters
Reuters_zh

DataFactory
SearchSystem/bad_case.zip
.vscode/settings.json
server.log
dir
RPC/gen-py
bad_case
data.json
files.json
server.log
test.json
test.log
test.sh
SearchSystemSearchConfig.yaml
SearchSystem/SearchConfig.yaml
SearchSystem/index
