*__pycache__
SearchSystem/db*
# SearchSystem/invertIndex_zh.json
# SearchSystem/wordList_zh.json
SearchSystem/secret.yaml
SearchSystem/temp.py

Reuters
Reuters_zh

DataFactory
SearchSystem/bad_case.zip
.vscode/settings.json
server.log
dir
RPC/gen-py
bad_case
data.json
files.json
server.log
test.json
test.log
test.sh
SearchSystem/SearchConfig.yaml
SearchSystem/LargeLanguageModel/chatglm-6b
SearchSystem/bad_case
SearchSystem/pairs
SearchSystem/index/*
SearchSystem/index/invertIndex_zh_qa.json
SearchSystem/index/invertIndex_zh_qq.json
SearchSystem/index/invertIndex_zh.json
SearchSystem/index/wordCount_zh_qa.json
SearchSystem/index/wordCount_zh_qq.json
SearchSystem/index/wordCount_zh.json
SearchSystem/index/wordList_zh_qa.json
SearchSystem/index/wordList_zh_qq.json
SearchSystem/index/wordList_zh.json
